.chat-input-form {
	display: inline-flex;
	width: 100%;
	grid-area: input;
}

.chat-input {
	background: var(--slateg);
	color: white;
	caret-color: var(--verdantlite);
	border: none;
	border-radius: 0;
	padding: 4%;
	width: 100%;
	font-size: 1.2em;
	border: 2px ridge var(--verdant);
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
}
/* input.input {
	grid-area: input;
} */
.chat-input:focus,
.chat-input:active,
input:focus,
textarea:focus,
.chat-input:hover,
input:hover,
textarea:hover {
	outline: none;
	outline-style: none;
	box-shadow: 0 0 10px 0 var(--dorchid) inset;
	-webkit-box-shadow: 0 0 10px 0 var(--dorchid) inset;
	-moz-box-shadow: 0 0 10px 0 var(--dorchid) inset;
	cursor: auto;
	opacity: 1;
}

/* form.chat-input-form > input + button */
.send-message-button {
	grid-area: send-btn;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	background: var(--slateb);
	padding: 15px;
	display: inline-flex;
	border: 1px ridge var(--belite);
	opacity: 0.9;
}
button.send-btn:disabled {
	opacity: 0.9;
	cursor: auto;
}
button.send-btn:enabled:hover,
button.send-btn:enabled:focus,
button.send-btn:enabled:active {
	cursor: pointer;
	color: var(--goldlite);
	text-shadow: 0 0 16px var(--roarange);
	font-weight: 500;
	opacity: 1;
	box-shadow: 0 0 10px 0 var(--dorchid) inset;
	-webkit-box-shadow: 0 0 10px 0 var(--dorchid) inset;
	-moz-box-shadow: 0 0 10px 0 var(--dorchid) inset;
}
