.message-container {
	display: flex;
	justify-content: flex-end;
	padding: 0 5%;
	margin-top: 3px;
}
.message-box {
	background: var(--slatep);
	padding: 5px 20px;
	color: white;
	display: inline-block;
	max-width: 80%;
	border-radius: 20%;
}
.you {
	border: 1px var(--crimberrybold) dashed;
	border-radius: 20%;
}
.others {
	border: 1px var(--verdant) dotted;
	border-radius: 20%;
}

.action-message {
	border-radius: 0% !important;
	border-style: double !important;
}

.message-text {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;
}

.sent-text {
	display: flex;
	align-items: center;
	letter-spacing: 0.3px;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.color-white {
	color: white;
	text-shadow: 0 0 8px 0 black;
}
