.login-wrapper {
	justify-content: center;
	text-align: center;
	height: auto;
	align-items: center;
	display: grid;
	grid-row: 3 / -1;
	grid-column: 1 / span 5;
	margin: 0 9px;
	width: 100%;
	overflow-y: auto;
}
section.login {
	display: flex;
	vertical-align: middle;
	justify-content: space-around;
	width: 100%;
}

.login-form {
	width: 100%;
	display: block;
}
.login-form > label {
	display: block;
	text-align: left;
	padding-bottom: 3px;
}

.form-header {
	padding-bottom: 10px;
}

.input-login {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 2em;
}

#join-room {
	display: block;
	align-content: flex-end;
	justify-content: right;
	float: right;
}

.send-message-button {
	/* ! new */
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 50px;
	color: var(--lightish) !important;
	text-shadow: 0 0 5px var(--roarangelite);
	background: var(--slatep) !important;
	border: 2px solid var(--belite);
	justify-content: right;
	margin: 3px 3px;
	padding: 8px;
	cursor: pointer;
}
