.results {
  /* padding: 3%; */
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: middle;
  width: 100%;
  /* border: 2px inset var(--belite); */
}
/* .results > .result {
  flex-direction: column-reverse;
} */



