/* Collapsible Spell Item */
.spell-item {
  background: var(--slatep);
  border: 2px outset var(--belite);
  margin-right: 5px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.spell-item:hover {
  border-color: var(--roarangelite);
  -webkit-box-shadow: 0px 0px 10px 0px var(--belite);
  -moz-box-shadow: 0px 0px 10px 0px var(--belite);
  box-shadow: 0px 0px 10px 0px var(--belite);
}
.spell-ex {
  border-color: var(--roarangelite);
  border-width: 3px;
}
.filter-toggle {
  display: flex;
  color: var(--lightish);
  height: 30px;
  width: 98%;
  margin: 0 1%;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  cursor: pointer;
}
.unselected {
  border: 2px ridge var(--ba);
  background-color: var(--slateg);
}
.selected {
  border: 2px ridge var(--gold);
  background-color: rgb(20, 1, 3);
}
