/* panel */
.panel-wrapper {
  display: grid;
  grid-row: 3 / -1;
  grid-column: 1 / span 5;
  margin: 0 9px;
  width: 100%;
  /* max-height: 78vh !important; */
  overflow: hidden;
}

/* panel component */
.panel {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-template-areas:
    'header  header  header header header header header header header'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar output output output output output output output'
    'sidebar sidebar  input  input  input  input  input  input  input';
  width: 100%;
  row-gap: 0.6rem;
  column-gap: 1rem;
  /* background: transparent; */
  background: var(--slatep);
  margin-bottom: 0.5rem;
  overflow: hidden;
}

/* .chat-out {
	grid-area: output;
	width: 100%;
	display: flex;
	overflow-y: auto;
} */
