.drawer-container {
  width: 300px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 44;
  /* right: 75px; */
}

.drawer-container .drawer-header {
  /* height: 50px; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

div.dice-list {
  display: none;
  flex-direction: row-reverse;
}

button .drawer-btn {
  width: 100%;
  border: 5px solid var(--roarange);

}