.drawer-container {
  position: fixed;
  display: grid;
  bottom: 0;
  right: 2rem;
  z-index: 44;
  background-color: var(--dorchidfull);
  color: var(--belite);
  border: var(--belite) 2px outset;
  transition: all 0.29s ease 0s;
  -webkit-transition: all 0.29s ease 0s;
  -moz-transition: all 0.29s ease 0s;
  -o-transition: all 0.29s ease 0s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0);
}

/* .drawer-container .drawer-container-open .drawer-btn  {
  position:absolute;
  height:auto;
  top: 6vh;

} */

.drawer-container button {
  font-size: 1rem;
  /* padding: 0.4rem; */
  cursor: pointer;
  color: var(--lightish);
  text-shadow: 0 0 5px var(--roarange);
}

.drawer-container .drawer-header {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.drawer-container .drawer-header .drawer-btn {
  width: 100%;
  font-size: 1rem;
  padding: 0.4rem 0.4rem 0 0.4rem;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  /* color: var(--belite); */
  /* cursor: ponter; */
  /* border: 5px solid var(--roarange); */
}
.drawer-container .drawer-header .drawer-btn.opened {
  width: 100%;
  background-color: var(--dorchidfull);
  color: var(--belite);
}
.drawer-container .drawer-btn.closed {
  text-align: right;
  justify-content: flex-end;
  position: absolute;
  top: -6vh;
  border: var(--belite) 2px outset;
  height: auto;
  /* background-color: transparent; */
  /* border: none; */
  background-color: var(--dorchidfull);
  color: var(--belite);
  padding: 0.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0);

}

.drawer-container .drawer-btn.closed:hover {
  transition: all 0.29s ease 0s;
  -webkit-transition: all 0.29s ease 0s;
  -moz-transition: all 0.29s ease 0s;
  -o-transition: all 0.29s ease 0s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  transform: scale(1.2);
}

.drawer-btn span.arrowhead {
  text-decoration: none;
}

/* .drawer-body-container {
  font-size: 1rem;
} */

.results-container {
  padding: 0.4rem;
  height:calc(35vh + 0.4rem);
}

.input-container div,
.input-container input, 
.input-container button {
  gap: 5px;
}
.inputs-subcontainer {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputs-subcontainer .drawer-input {
  background-color: #000;
  box-shadow: 0 0 10px var(--dorchid) inset;
  -webkit-box-shadow: 0 0 10px var(--dorchid) inset;
  -moz-box-shadow: 0 0 10px var(--dorchid) inset;
  color: var(--belite);
  font-size: 1rem;
  padding: 0.2rem 0;
}

.dice-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.2rem;
}

.dice-btn {
  color: var(--crimberry);
  /* color: rgba(20, 20, 20, 0.8); */
  background-color: var(--goldlite);
  border: none;
  border-radius: 5px;
  padding-top:0.2rem;
  padding-left:0.2rem;
  padding-right:0.2rem;
  /* cursor: pointer; */
}

.submit-btn {
  display: inline;
  width: 100%;
  border: none;
  background: var(--crimberry);
  color: var(--belite);
  /* cursor: pointer; */
}