.checkbox {
  display: grid;
  gap: 16px;
}
.checkbox-input {display: none;}
.checkbox-label {
  font-weight: 400;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr auto 1fr;
  gap: 3px;
  align-items: center;
  text-align: center;
  padding: 9px;
  cursor: pointer;
  margin: 4px 0;
  border: 1px solid var(--belite);
  /* border: 2px solid transparent; */
  /* border-radius: 25%; */
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0.5;
}
.checkbox-label:before,
.checkbox-label:after {
  content: '';
  display: block;
  opacity: 0;
  margin-top: 4px;
  height: 4px;
  background-color: transparent;
  -moz-transform: translate(0%, -40%);
  -ms-transform: translate(0%, -40%);
  -webkit-transform: translate(0%, -40%);
  transform: translate(0%, -40%);
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.checkbox-input:checked + .checkbox-label {
  font-weight: 700;
}
.checkbox-input:checked + .checkbox-label:before {
  opacity: 1;
  background: linear-gradient(to left, var(--roarange), transparent);
}
.checkbox-input:checked + .checkbox-label:after {
  opacity: 1;
  background: linear-gradient(to right, var(--roarange), transparent);
}