aside.sidebar {
	grid-area: sidebar;
	width: 100%;
	background: var(--slatep);
	border: 2px ridge var(--belite);
	color: var(--lightish);
	text-shadow: 0 0 3px var(--roarangelite);
	text-align: center;
}
aside > span {
	text-transform: uppercase;
}
.name-list {
	margin-right: 6px;
	list-style-type: decimal-leading-zero;
	display: list-item;
}
.name-list-item > h4.your-name {
	text-shadow: 0 0 3px var(--roarangelite);
}
hr {
	border: 2px outset var(--belite);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
/* @media (min-width: 320px) and (max-width: 1200px) {
	#sidebar {
		display: none;
	}
} */
