#sidebar {
	grid-column: 1 / span 1;
	grid-auto-rows: 80vmin 20vmin;
	width: 100%;
	background: var(--slatep);
	border: 2px ridge var(--belite);
	color: var(--lightish);
	text-shadow: 0 0 5px var(--roarangelite);
	text-align: center;
}
.name-list-item,
.user-count {
	list-style-type: none !important;
	display: flex;
	align-items: center;
}
.name-list-item {
	grid-row-start: auto;
}
.user-count {
	grid-row-end: auto;
}
hr {
	border: 2px outset var(--belite);
}
/* @media (min-width: 320px) and (max-width: 1200px) {
	#sidebar {
		display: none;
	}
} */
