.message-container {
	line-height: 0.8em;
	display: flex;
	justify-content: flex-end;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.message-box {
	background: var(--slatep);
	padding: 5px 10px;
	color: white;
	display: inline-block;
	max-width: 70%;
}
.message-text {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;
	color: white;
}
.sender-name {
	/* font-family: Helvetica; */
	display: flex;
	align-items: center;
	letter-spacing: 1px;
}
.you {
	background: radial-gradient(var(--slatep), var(--dorchid));
	border-radius: 6px;
}
.others {
	border: 2px var(--verdant) dotted;
}
.time {
	font-size: 0.8em;
	opacity: 0.7;
}
