.message-container {
	display: flex;
	/* justify-content: flex-end; */
	padding: 0 5%;
	margin-top: 3px;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.message-box {
	background: var(--slatep);
	padding: 5px 20px;
	color: white;
	display: inline-block;
	max-width: 70%;
}
.message-text {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;
	color: white;
}
.sender-name {
	font-family: Helvetica;
	display: flex;
	align-items: center;
	letter-spacing: 0.3px;
}
.you {
	border: 2px var(--crimberrybold) dashed;
}
.others {
	border: 2px var(--verdant) dotted;
}
.time {
	font-size: 0.8em;
	opacity: 0.7;
}
