.chat-header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--slateb);
	border: medium;
	border-radius: 6px 6px 0 0;
	/* ! height: 50px; */
	width: 100%;
	border-bottom: 1px solid var(--belite);
}
.left-wrapper {
	flex: 0.5;
	display: flex;
	align-items: center;
	margin-left: 2em;
	color: white;
	text-transform: uppercase;
}
.right-wrapper {
	display: flex;
	flex: 0.5;
	justify-content: flex-end;
	margin-right: 5%;
	font-size: 2em;
}
.right-wrapper a {
	color: white;
	text-decoration-line: none;
}
.right-wrapper a:hover {
	text-shadow: 0 0 20px var(--roarange);
}
