i.to-right {
  justify-content: left;
  align-items: center;
}
i.to-right:after {
  content: '';
  display: block;
  margin-left: 6px;
  height: 4px; 
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: linear-gradient(to right, var(--crimberry), transparent);
}
i.to-left {
  justify-content: right;
  align-items: center;
}
i.to-left:after {
  content: '';
  display: block;
  margin-top: 4px;
  margin-left: 4px;
  height: 4px; 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(to left, var(--crimberry), transparent);
}
.from-center {
  margin: 8px 4px;
  display: grid;
  gap: 16px;
}
.from-center i {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1 / -1;
  align-items: center;
  color: transparent;
  cursor: default;
}
.from-center i:before {
  content: '';
  display: block;
  margin: 4px;
  height: 4px;
  background: linear-gradient(to left, transparent, var(--crimberry));
}
.from-center i:after {
  content: '';
  display: block;
  margin: 4px;
  height: 4px;
  background: linear-gradient(to right, transparent, var(--crimberry));
}
.pactions {
	text-shadow: 0 0 8px rgb(123, 81, 163);
  font-size: 1.3em;
	color: var(--crimberryfull);
	margin-bottom: 0;
	margin-top: 15px;
}
.creature-item {
	background: var(--slateg);
	width: 98%;
	text-align: left;
	border: 2px outset var(--verdant);
}
.ccard {
	background-color: var(--slateg);
	border: 2px solid var(--crimberryfull);
}
.ccard p {
	margin-left: 5px;
	opacity: 1;
}
.ability-scores b {color: var(--belite);}
.ability-scores {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 5px;
}
button.action-btn {
  margin-right: 3px;
  cursor: pointer;
  background: inherit;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  border: 2px solid transparent;
}
button.action-btn:hover {
  border-left: solid 2px var(--belite);
  background-color: var(--slateglite);
  transform: scaleZ(1.5);
}
button.action-btn:focus {
  border-left: dotted 2px var(--belite);
  background-color: var(--slateglite);
}
button.action-btn:active {
  background-color: var(--slateg);
}