:root {
  --gold: rgba(218, 165, 32, 0.651);
  --goldlite: rgba(250, 250, 210, 1);
  --belite: rgb(197, 203, 233);
  --crimberry: rgba(184, 18, 51, 0.7);
  --crimberryfull: rgba(184, 18, 51, 1);
  --crimberrybold: rgb(235, 42, 80);
  --slateg: rgba(0, 15, 15, 0.731);
  --slategfull: rgba(0, 15, 15, 1);
  --slateb: rgba(9, 33, 70, 0.575);
  --roarange: rgb(255, 115, 0);
  --roarangelite: rgb(255, 183, 89);
  --slatep: rgba(37, 10, 49, 0.419);
  --lightish: rgb(240, 247, 247);
  --dorchid: rgba(153, 50, 204, 0.8);
  --dorchidfull: rgb(8, 0, 12);
  /* so glad this is the name of a color i don't hate */
  --ba: #bada55bb;
  --verdant: #02ceac;
  --verdantlite: #82f5e2;
}

.App {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  color: var(--lightish);
  background-color: black;
  background-image: radial-gradient(lightcyan, rgba(255, 255, 255, .09) 2px, transparent 30px),
    radial-gradient(lightpink, rgba(255, 255, 255, .07) 1px, transparent 20px),
    radial-gradient(lightyellow, rgba(255, 255, 255, .13) 2px, transparent 30px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 550px 550px,
    350px 300px,
    200px 200px,
    150px 150px;
  background-position: 0 0,
    40px 60px,
    130px 270px,
    70px 100px;
}

hr.left {
  background: url("./assets/hr-left-red-600x20.png") no-repeat left !important;
  height: 20px !important;
  border: none !important;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

hr.left-sm {
  background: url("./assets/hr-left-red-360x13.png") no-repeat left !important;
  height: 13px !important;
  border: none !important;
  opacity: 0.9;
  margin: 4px 0 4px 0;
  padding: 0;
}

hr.right {
  background: url("./assets/hr-right-red-600x20.png") no-repeat right !important;
  height: 20px !important;
  border: none !important;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

hr.right-sm {
  background: url("./assets/hr-right-red-360x13.png") no-repeat right !important;
  height: 13px !important;
  border: none !important;
  opacity: 0.9;
  margin: 4px 0 4px 0;
  padding: 0;
}

hr.skinny {
  background: url("./assets/hr-double-red-720x12.png") no-repeat center !important;
  height: 12px !important;
  border: none !important;
  opacity: 0.9;
  margin: 4px;
  padding: 0;
}

h1 {
  font-family: 'Fira Mono Regular';
  padding-left: 8px;
  text-shadow: -1px -1px 14px var(--dorchid);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  white-space: none;
}

h1 span {
  min-width: 300px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  white-space: none;
  word-break: keep-all;
  word-wrap: none;
}

b {
  font-family: 'Fira Mono Regular';
  color: var(--belite);
}

.fira {
  font-family: 'Fira Mono Regular';
}

.hotem {
  border: 2px solid var(--crimberry);
}

.roar {
  border: 2px solid var(--roarange);
}

.too-hot {
  border: 2px solid var(--verdantlite);
}

.derk {
  color: var(--goldlite);
  text-shadow: 0 0 16px var(--roarange);
  font-weight: 500;
}

/* top app/nav/action bar */
.top-bar {
  /* grid-column: 1 / span 4; */
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

.bar-container {
  display: grid;
  grid-gap: 5px;
  grid-row-gap: 12px;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 36px;
}

.app-title {
  color: var(--crimberrybold);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  grid-column: 1 / span 2;
  grid-row: span 1;
  hyphens: none;
  text-align: left;
}

.slct {
  margin: 0 8px 0 8px;
  grid-column: span 1;
  grid-row: 2 / span 1;
}

.select-input {
  color: rgb(208, 236, 236);
  width: 100%;
  height: 100%;
  background-color: var(--slateb);
  border: 2px solid var(--verdantlite);
}

.search-box {
  grid-column: 3 / -1;
  height: 100%;
  width: 100%;
  padding: 0 8px 0 8px;
}

input#search {
  padding: 26px 4px 4px 8px;
  width: 100%;
}

.surch {
  background-color: var(--slateb);
}

.surch:hover,
.inp-hvr:hover {
  border: 2px solid #e3f89f;
}

/* @media (min-width:) {} */

/* Collapsible Creature Item */
.creature-list {
  grid-column: 5 / -1;
  grid-row: 2 / -1;
  padding-right: 3px;
  padding-left: 5px;
}

.creature-item {
  background: var(--slateg);
  width: 98%;
  text-align: left;
  border: 2px outset var(--verdant);
}

.ccard {
  background-color: var(--slateg);
  border: 2px solid var(--crimberryfull);
}

.ccard p {
  margin-left: 5px;
  opacity: 1;
}

.pactions {
  text-shadow: 0 0 8px rgb(123, 81, 163);
  font-size: 1.2em;
  color: var(--crimberryfull);
  margin-bottom: 0;
  margin-top: 15px;
}

.ability-scores b {
  color: var(--belite);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.ability-scores {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.spell-list {
  grid-row: 2 / -1;
  grid-column: 1 / span 4;
  margin: 5px;
}

/* Collapsible Spell Item */
.spell-item {
  background: var(--slatep);
  border: 2px outset var(--belite);
  margin-right: 5px;
}

.inset {
  border-style: inset;
}

.outset {
  border-style: outset;
}

.creature-item:hover {
  border-color: var(--crimberrybold);
}

.creature-ex {
  border-color: var(--crimberrybold);
  border-width: 3px;
}

.spell-item:hover {
  border-color: var(--roarangelite);
}

.spell-ex {
  border-color: var(--roarangelite);
  border-width: 3px;
}

.item-body p,
.item-body li {
  margin: 8px;
}

.name-initial,
.name-expanded {
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
  margin: 4px 8px;
}

.name-initial .name,
.name-expanded .name {
  height: 100%;
  display: inline-block;
  position: relative;
  transition: 0.15s;
}

/* 
? use for favorites feature ? 
* black four pointed star: '\002726' 
* white four pointed star: '\002727' 
*/
.name-initial .name:after {
  content: '\002BC6';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.2s;
}

.name-expanded .name:after {
  content: '\002BC5';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.2s;
}

.name-initial:hover .name,
.name-expanded:hover .name {
  padding-right: 25px;
}

.name-initial:hover .name:after,
.name-expanded:hover .name:after {
  opacity: 1;
  right: 0;
}

.filter-toggle {
  color: var(--lightish);
  height: 30px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.select {
  border: 2px outset var(--ba);
  background-color: var(--slateg)
}

.deselect {
  border: 2px inset var(--gold);
  background-color: rgb(20, 1, 3);
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 1000;
}

.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 67%;
  margin-left: -60px;
  opacity: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bg-opac {
  opacity: 1;
  background: var(--dorchidfull);
}

.item-collapse {
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.spell-item .item-body,
.creature-item .item-body {
  border: none !important;
}

.item-collapse .item-body hr {
  margin: 4px 8px;
  opacity: 0.7;
  border-color: var(--belite);
}

/* Customized Tachyons grow class */
.groww {
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.05s ease-out;
}

.groww:hover,
.groww:focus {
  transform: scale(1.01);
}

.groww:active {
  transform: scale(.98);
}

/* bootstrap 3 nostalgia  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Dope font */
@font-face {
  font-family: 'Fira Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Mono Regular'), url('FiraMono-Regular.woff') format('woff');
}