i.to-right {
  justify-content: left;
  align-items: center;
}
i.to-right:after {
  content: '';
  display: block;
  margin-left: 6px;
  height: 4px; 
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: linear-gradient(to right, var(--crimberry), transparent);
}
i.to-left {
  justify-content: right;
  align-items: center;
}
i.to-left:after {
  content: '';
  display: block;
  margin-top: 4px;
  margin-left: 4px;
  height: 4px; 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(to left, var(--crimberry), transparent);
}
.from-center {
  margin: 8px 4px;
  display: grid;
  gap: 16px;
}
.from-center i {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1 / -1;
  align-items: center;
  color: transparent;
  cursor: default;
}
.from-center i:before {
  content: '';
  display: block;
  margin: 4px;
  height: 4px;
  background: linear-gradient(to left, transparent, var(--crimberry));
}
.from-center i:after {
  content: '';
  display: block;
  margin: 4px;
  height: 4px;
  background: linear-gradient(to right, transparent, var(--crimberry));
}
.pactions {
	text-shadow: 0 0 8px rgb(123, 81, 163);
  font-size: 1.3em;
	color: var(--crimberryfull);
	margin-bottom: 0;
	margin-top: 15px;
}